<body>
<form class="container">
<h1>حاسبة فاتورة كهرباء الأجهزة</h1>
<p>احسب فاتورة الجهاز الكهربائي بإستخدام القوة الكهربائية واط قبل الشراء</p>
    <div class="row justify-content-center mt-5 p-5">
        <div class="col-10 col-sm-6">
            <div class='center'>
                <div class="form-group">
                    <label for="watt"><b>حجم الواط</b></label>
                    <input [(ngModel)]="watt" name="watt" type="number" placeholder="تلقى ورا كرتون الجهاز بطاقة التعريف الكهربائية موجود فيها قوة الجهاز بالواط" required/>
                </div>

                <div class="form-group">
                    <label for="hours"><b>عدد الساعات باليوم</b></label>
                    <input [(ngModel)]="hours" name="hours" type="number" placeholder="كم من ساعة بتشغل الجهاز في اليوم الواحد؟" required/>
                </div>

                <div class="form-group">
                    <label for="days"><b>عدد الايام</b></label>
                    <input [(ngModel)]="days" name="days" type="number" placeholder="كم من يوم خلال الشهر بتشغل الجهاز؟" required/>
                </div>

                <div class="form-group d-flex" (click)="calculate()">
                    <button class="registerbtn">احسب</button>
                </div>

                <h3 *ngIf="result">فاتورة الجهاز= {{ result }} ريال</h3>

            </div>
        </div>
    </div>
</form>
</body>
